@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century gothic";
}

body{
    background-image: url(images/johannes-plenio-hvrpOmuMrAI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Menu navigation*/
.slide{
    height: 100%;
    width: 220px;
    position: absolute;
    background-color: #0048a768;
    transition: 0.3s ease;
    transform: translateX(-220px);
}

h1{
    color: #ffffff;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul li{
    list-style: none;
}

ul li a{
    color: #ffffff;
    font-weight: 500;
    padding: 15px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li:hover a{
    color: #000000;
    background-color: #613c86;
    border-radius: 5px;
}

ul li a i{
    width: 40px;
    text-align: center;
}

input{
    display: none;
    visibility: hidden;
}

.toggle{
    position: absolute;
    height: 24px;
    width: 25px;
    z-index: 1;
    top: 3px;
    left: 15px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(4, 0, 255, 0.497), 0 1px 5px 0 rgb(255, 0, 0);
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.2s ease;
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line{
    left: 3px;
    top: 14px;
    width: 24px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line{
    left: 3px;
    top: 14px;
    width: 24px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 10px 15px 0 rgba(4, 0, 255, 0.497), 0 6px 20px 0 rgb(255, 0, 0);
}


/*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*/
/*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*/
/*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*//*NAVIGATION BAR*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  nav{
    height: 30px;
    width: 100%;
    background: #006eff68;
    box-shadow: 0 2px 1px 0 rgba(4, 0, 255, 0.497), 0 1px 5px 0 rgb(255, 0, 0);
  }

  label.logo{
    color: #fff;
    font-size: 35px;
    line-height: 29px;
    padding: 0 240px;
    font-weight: bold;
  }

  nav ul{
    float: right;
    margin-right: 20px;
  }

  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }

  nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 5px 20px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  a.active,a:hover{
    background: #fff;
    transition: .5s;
    color: #022f69;
  }

  .checkbtn{
    font-size: 20px;
    color: #fff;
    float: right;
    line-height: 32px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  @media (max-width: 968px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }

    nav ul li a{
      font-size: 16px;
    }
  }

  @media (max-width: 875px){
    .checkbtn{
      display: block;
    }

    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #27282c;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }

    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a{
      font-size: 20px;
    }

    a:hover, a.active{
      background: none;
      color: #0082e6;
    }

    #check:checked ~ ul{
      left: 0;
    }
  }